/* ng-container {
    float: left;
} */

@media (min-width:320px) and (max-width: 801px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .example-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    #app-list {
        margin-top: 4%;
        width: 100%;
        height: auto;
    }
    .example-sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #card {
        width: 96%;
        height: 100%;
        text-align: center;
    }
    #logout {
        width: 100%;
        padding-left: 35%;
        margin: 2%;
    }
    #text {
        direction: rtl;
    }
    #img {
        border-radius: 50%;
        width: 30%;
        height: auto;
    }
    .example-container {
        position: absolute;
        top: 60px;
        bottom: 60px;
        left: 0;
        right: 0;
    }
    .example-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #app-list {
        /* margin-top: 2%; */
        /* background-color: red; */
        width: 100%;
        height: auto;
    }
    #card {
        /* background-color: red; */
        width: 96%;
        height: 100%;
        text-align: center;
    }
    #logout {
        width: 100%;
        padding-left: 35%;
        margin: 2%;
    }
    #text {
        direction: rtl;
    }
    #img {
        border-radius: 50%;
        width: 30%;
        height: auto;
    }
    .example-container {
        position: absolute;
        top: 60px;
        bottom: 60px;
        left: 0;
        right: 0;
    }
    .example-sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
    }
    .example-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .example-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}