<!-- header -->
<mat-toolbar class="example-header">
    <i class="material-icons" (click)="openSideNav()">menu</i>
</mat-toolbar>

<div id="app-list">
    <app-list></app-list>
</div>

<!-- sidenav -->
<ng-container *ngIf="showSideNav">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened="false" class="example-sidenav">

            <div id="card" *ngIf="Auth.authState | async; let user; else showLogin">
                <div id="logout">
                    <mat-button-toggle (click)="logout()">Logout</mat-button-toggle>
                </div>
                <h2 id="text">wellcom {{user.displayName}}!</h2>
                <div id="divimg"><img id="img" src="{{user.photoURL}}" /></div>
                <div id="form">
                    <mat-form-field>
                        <input matInput value="{{user.email}}" disabled="true">
                    </mat-form-field>
                    <h3 id="text">you can start right and save all of your ideas</h3>

                </div>
            </div>

            <ng-template #showLogin>
                <div id="logout">
                    <p>Please login:</p>
                    <mat-button-toggle (click)="login()">Login with google</mat-button-toggle>
                </div>
            </ng-template>
        </mat-sidenav>
    </mat-sidenav-container>
</ng-container>

<!-- form -->

<mat-toolbar class="example-footer"></mat-toolbar>