@media (min-width:320px) and (max-width: 801px) {
    #list {
        margin-top: 10%;
        margin-left: 5%;
        width: 60% !important;
        margin-left: 15%;
        text-align: center;
        font-size: 70%;
    }
    #newNote,
    #iconAdd,
    #iconSave,
    #iconEdit {
        margin-top: 12%;
    }
    #newNote {
        width: 80%;
        margin-bottom: 5%;
    }
    #iconAdd,
    #iconSave {
        height: 100%;
        width: auto;
        font-size: 250%;
    }
    #iconEdit {
        /* height: 100%;
        width: auto; */
        font-size: 180%;
    }
    #iconDelete {
        font-size: 115%;
    }
    #input {
        width: 70%;
        height: 2%;
        font-size: 70%;
    }
    .done {
        text-decoration: line-through;
    }
}

@media (min-width:801px) {
    #list {
        /* margin-top: 3%; */
        margin-left: 5%;
        /* background-color: darkgray !important; */
        width: 60% !important;
        margin-left: 15%;
        text-align: center;
        font-size: 140%;
    }
    #newNote,
    #iconAdd,
    #iconSave,
    #iconEdit {
        margin-top: 12%;
    }
    #newNote {
        width: 70%;
        margin-bottom: 3%;
    }
    #iconAdd,
    #iconSave {
        height: 100%;
        width: auto;
        font-size: 250%;
    }
    #iconEdit {
        height: 100%;
        width: auto;
        font-size: 180%;
    }
    #iconDelete {
        /* height: 100%;
    width: auto; */
        font-size: 115%;
    }
    #input {
        width: 50%;
        height: 2%;
        font-size: 70%;
    }
    .done {
        text-decoration: line-through;
    }
}