<div id="list" class="ui form">

    <!-- first line -->
    <!-- <form [formGroup]="listForm" novalidate> -->
    <div class="field">
        <input id="newNote" #newNote placeholder="write somthing" [disabled]="!cantEdit" (keypress)="enter($event)" />
        <i id="iconAdd" *ngIf="cantEdit" class="material-icons" (click)="addButton()">note_add</i>
        <i id="iconEdit" *ngIf="cantEdit" class="material-icons" (click)="editButton()">border_color</i>
        <i id="iconSave" *ngIf="!cantEdit" class="material-icons" (click)="saveButton()">save</i>
    </div>

    <!-- lists -->
    <div class="ui middle aligned divided list" *ngFor="let item of list">
        <div id="inputs" class="right floated content">
            <input id="input" [(ngModel)]="item.text" [disabled]="cantEdit" [class.done]="item.done" />
            <i id="iconDelete" *ngIf="!cantEdit" class="material-icons" (click)="deleteButton(item)">delete</i>
            <i id="iconDone" *ngIf="cantEdit" class="material-icons" (click)="doneButton(item)">done</i>
        </div>
    </div>
    <!-- </form> -->

</div>